
body{
    background-color: lightgrey;
    font-family : cambria;
    
}
div{
    text-align : center;
    background-color: #56887D; 
    width : auto; 
    border: 15px gainsboro;
    padding : 50px;
    margin : 20px;
}

a:link {
    color: black; 
    text-decoration: none;
}

a:visited {
    color: darkslategrey;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
    text-decoration: none;
}

a:active {
    color: darkslategrey;
    text-decoration: none;
}

hr.new1 {
    border : 5px solid darkslategray;
    border-radius : 3px;
    width : 95%;
}

h3{
    text-align :justify
}

div.education {
    text-align: left;
    background-color: lightgrey;
}

p {
    text-align: left;
}
