
body{
    background-color: lightgrey;
    font-family : cambria;
    
}
div{
    text-align : center;
    background-color: #56887D; 
    width : auto; 
    border: 15px gainsboro;
    padding : 50px;
    margin : 20px;
}

a:link {
    color: black; 
    text-decoration: none;
}

a:visited {
    color: darkslategrey;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
    text-decoration: none;
}

a:active {
    color: darkslategrey;
    text-decoration: none;
}

hr.new1 {
    border : 5px solid darkslategray;
    border-radius : 3px;
    width : 95%;
}

hr.new2 {
    border: 3px solid darkslategray;
    border-radius : 3px;
    width: 15%;
    margin-left: 1px;
}

hr.new3 {
    border: 3px solid darkslategray;
    border-radius : 3px;
    width: 15%;
    margin-left: 1px;
}

hr.new4{
    border: 3px solid darkslategray;
    border-radius : 3px;
    width: 15%;
    margin-left: 1px;
}

div.education {
    text-align: left;
    background-color: lightgrey;
}

h3.eduTitle {
    font-size: 30px;
}

div.work{
    text-align: left;
    background-color: lightgrey;
}

h3.wrkTitle {
    font-size: 30px;
}

div.exp{
    text-align: left;
    background-color: lightgrey; 
}

h3.expTitle{
    font-size: 30px;
}



